// 文字水平对齐方式 ********************************************
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var;
    }
}

// ********************************************
// 文字超出？行溢出隐藏...  text-overflow-1
@for $i from 1 through 10 {
    .text-overflow-#{$i} {
        display: -webkit-box; /* 使用旧版WebKit内核布局盒模型 */
        -webkit-line-clamp: #{$i}; /* 限制文本显示的行数为2行 */
        -webkit-box-orient: vertical; /* 设置盒模型布局方向为垂直 */
        overflow: hidden; /* 超出部分隐藏 */
        text-overflow: ellipsis; /* 使用省略号表示被截断的部分 */
        &:hover{
          white-space: normal; /* 显示全部 */
          overflow: visible; /* 取消超出隐藏 */
        }
    }
}

.overflow-x-scroll {
  overflow-x: scroll; // 水平方向超出滚动
}
.overflow-y-scroll {
    overflow-y: scroll; // 垂直方向超出滚动
}
.overflow-y-auto {
    overflow-y: auto; // 垂直方向高度超出后才显示滚动条
}
.overflow-x-hidden {
  overflow-x: hidden;
}



// 字体 ********************************************
.font-bold {
    font-weight: bold;
}

$font-size: (
    'sm': 12px,
    'base': 16px,
    'lg': 20px,
);
@each $sizeKey, $size in $font-size {
    .font-size-#{$sizeKey} {
        font-size: $size !important;
    }
}
@for $i from 10 through 100 {
    .font-size-#{$i} {
        font-size: #{$i}px !important;
    }
}


// 边框颜色 ********************************************
// 类名  .border-b
$orientation: (
    t: top,
    b: bottom,
    l: left,
    r: right,
);
@each $orientationKey, $orientationVal in $orientation {
    .border-#{$orientationKey} {
        border-#{$orientationVal}: 1px solid #e4e4ee;
    }
}

// *******************************************************
// 外边框圆角
@for $i from 1 through 50 {
    // border-radius-5
    .border-radius-#{$i} {
        border-radius: #{$i}px;
    }
}

.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}

@for $i from 0 through 1000 {
    // w-20
    .w-#{$i} {
        width: 1px * $i;
    }
    .h-#{$i} {
        height: 1px * $i;
    }
    // max-height-500
    .max-height-#{$i} {
        max-height: 1px * $i;
    }
}

// 图片大小
@each $key, $val in sm 50, base 100, lg 160 {
  .img-#{$key} {
      width: #{$val}px !important;
      height: #{$val}px !important;
      border-radius: $val * 0.1px;
  }
}


.position-relative {
    position: relative; // 父：相
}
.position-absolute {
    position: absolute; // 子：绝
}


