@import './base.css';

body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* background-image: url('./wavy-lines.svg'); */
  /* background-size: cover; */
  /* user-select: none; */
   /* 背景透明 */
  background:#ffffff00;
  background-color: rgb(0, 145, 255);
  /* 可拖拽 */
  -webkit-app-region: drag;
}


#app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 80px;

}


