// 暗黑色主题
// $dark_main_color: #021b32;
// $dark_table_th_bgcolor: #00284c;
// $dark_table_td_color: #7189c8;
// $dark_table_border_color: #1d2f5e;


// 默认浅色主题
$dark_main_color: #fff;
$dark_table_th_bgcolor: #fcfcfc;
$dark_table_td_color: #000; // 左标题颜色
$dark_table_border_color: #eee2ec; // 边框颜色
